@charset "utf-8";


/* 폰트 설정
-----------------------------------*/
@font-face { font-family:'나눔바른고딕'; src:url('../font/NanumBarunGothic.woff') format('woff'); }
@font-face { font-family:'환경R'; src:url('../font/환경R.woff') format('woff'); }

/*초기화 부분
---------------------------------------*/
* { margin : 0; padding : 0; }
li { list-style-type : none; }
a { text-decoration : none; }
body { font : 16px "나눔바른고딕", "맑은 고딕", Arial; }

nav { height : 36px; }
nav li { font : 15px "환경R", "나눔바른고딕", "맑은 고딕",  Arial; }

#admin_info_menu { background-color : #85858d; }
#admin_info_menu h3 
{ 
	float: right; 
	width : 150px;
	padding-top : 10px;
	font : 13px "환경R", "나눔바른고딕", "맑은 고딕", Arial; 
	color : #eee;
	text-align: center;
}
#admin_info_menu li { width : 97px;	float: right; }
#admin_info_menu li a
{
	display : block;
	padding-top : 9px;
	padding-bottom : 8px;
	color : #fff;
	text-align : center;
}
#admin_info_menu li a:hover{ background-color : #AAAAB0; }

#admin_menu { background-color : #635353; }
#admin_menu li{ width : 97px; float: left; }
#admin_menu li a
{
	display : block;
	padding-top : 9px;
	padding-bottom : 8px;
	color : #fff;
	text-align : center;
}
#admin_menu li a:hover { background-color : #918686; }